@model LeagueManager.Models.TeamsC

<fieldset>
    <legend>PlayersC</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamName)
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Established)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Established)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryName)
    </div>
</fieldset>

