@model LeagueManager.Models.PlayersC

@{
    ViewBag.Title = "DeletePlayer";
}

<h2>DeletePlayer</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PlayersC</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlayerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JerseyNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JerseyNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeamID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
